* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
}

h1 {
    text-align: center;
    color: #4CAF50;
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #333;
}

button {
    padding: 12px 25px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}


button.delete {
    background-color: #f44336;
    transition: background-color 0.3s;
}

button.delete:hover {
    background-color: #e53935;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}

li.completed span {
    color: gray;
}
button.ready:disabled {
    background-color: #d3d3d3; 
    cursor: not-allowed; 
}

